extends layout

block content
  h1= title
  form(id='flightForm', action="/resource/flights", method="POST")
    div.form-group
      label.flightAttr(for='flight_name') flight name
      input#flight_type(type='text', name='flight_name')    
    div.form-group
      label.flightAttr(for='cost') flight cost
      input#size(type='number', name='cost')
    div.form-group
      label.flightAttr(for='baggage') flight baggage
      input#cost(type='number', name='baggage')
    input(type="submit")

  script.
    document.forms['flightForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO: do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO: handle body
      }).catch((error) => {
        // TODO: handle error
        alert("Save failed " + error);
      });
    });
