extends layout

block content
  h1= title
  - let flightid = toShow._id
  - let flight_name = toShow.flight_name
  - let flight_cost = toShow.cost
  - let flight_baggage = toShow.baggage

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{flightid}

  - let actionid = "/resource/flights/" + flightid
  form(id='flightForm', action= actionid, method="PUT")
    div.form-group
      label.flightAttr(for='flight_name') flight name
      input#flight_type(type='text', name='flight_name', value= flight_name )

    div.form-group
      label.flightAttr(for='cost') flight cost
      input#size(type='number', name='cost', value= flight_cost )

    div.form-group
      label.flightAttr(for='baggage') flight bagagge
      input#cost(type='number', name='bagagge', value= flight_bagagge )

    input(type="submit")

  script.
    document.forms['flightForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.text(); //or whatever the server sends
      }).then((body) => {
        alert("Update succeeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });
