extends layout

block content
  h1= title
  - let flightid = toShow._id
  - let flight_name = toShow.flight_name
  - let flight_cost = toShow.flight_cost
  - let flight_baggage = toShow.flight_baggage

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{flightid}

  - let actionid = "/resource/flight/" + flightid
  form(id='flightForm', action= actionid, method="PUT")
    div.form-group
      label.flightAttr(for='flight_name') Name
      input#flight_name(type='text', name='flight_name', value= flight_name )

    div.form-group
      label.flightAttr(for='cost') Cost
      input#cost(type='number', name='cost', value= flight_cost )

    div.form-group
      label.flightAttr(for='baggage') Bagagge
      input#baggage(type='number', name='baggage', value= flight_baggage )

    input(type="submit")

  script.
    document.forms['flightForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); //or whatever the server sends
      }).then((body) => {
        alert("Update succeeded")
        window.location.href='/flight'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });
